#* @implicitly included *#
#* @vtlvariable name="componentsAdded" type="java.util.Map<java.lang.String,com.carlos.projects.billing.domain.DocumentComponent>" *#
#* @vtlvariable name="importedComponents" type="com.carlos.projects.billing.domain.Component[]" *#
#* @vtlvariable name="file" type="org.springframework.web.multipart.MultipartFile" *#
#* @vtlvariable name="newBudgetViewHelper" type="com.carlos.projects.billing.ui.helpers.NewBudgetViewHelper" *#
#* @vtlvariable name="components" type="com.carlos.projects.billing.domain.Component[]" *#
#* @vtlvariable name="familyName" type="java.lang.String" *#
