<html>
<head>
    <title>Documento</title>
</head>
<body>
<p>Lista de los componentes del documento</p>

<form action="#springUrl('/document.htm')" method="post">
    #foreach ( $component in $document.documentComponents )
        <label>
            <input type="text" name="$component.code"
                   value="$component.code">${component.description}/><br/>
        </label>
    #end
</form>
</body>
</html>
