<html>
<head>
    <title>Inicio</title>
</head>
<body>
<h1>Programa de facturacion y presupuestos</h1>
<a href="importComponents.htm" title="Importar el listado de componentes">
    Haga click aqui para importar el listado de componentes</a>
<a href="newDocument.htm" title="Crear nuevo documento">Haga click aqui para crear un nuevo documento</a>
</body>
</html>	