<html>
    <body>
        <p>Lista de los componentes de la familia $!{familyName}</p>

        <form action="#springUrl('/selectComponents.htm')" method="post">
            #foreach ( $component in $components )
                <input type="checkbox" name="$component.code" value="$component.code">${component.description}</input><br/>
            #end
            <input id="selectComponents" type="submit" value="A&ntilde;adir"/>
        </form>
    </body>
</html>