<html>
    <body>
        <p>Lista de los componentes de la familia ${familyName}</p>

        <form id="selectedComponents" action="#springUrl('/selectComponents.htm')" method="post">
            <input type="hidden" id="familyName" name="familyName" value="$!{familyName}"/>
            <input type="hidden" id="documentId" name="documentId" value="$!{documentId}"/>
            #foreach ( $component in $components )
                <label id="selectComponent$velocityCount">
                    <input id="$!{component.code}" type="checkbox" name="$!{component.code}">$!{component.description}
                </label><br/>
            #end
            <input id="selectComponents" type="submit" value="A&ntilde;adir"/>
        </form>
    </body>
</html>