<html>
<head>
    <script type="text/javascript" src="javaScript/jquery-1.4.2.js"/>
    <script type="text/javascript" src="javaScript/functions.js"/>
    <title>Nuevo presupuesto</title>
</head>
<body>
<h1>Seleccione los componentes que forman parte del presupuesto</h1>

<div id="familiesSelection">
    <label>Familia</label>
    <select id="families">
        <option value="selectFamily" selected="selected">Seleccione una familia de componentes</option>
        #foreach ( $family in $viewHelper.getAllFamilies() )
        <option value="$family.description">$family.description</option>
        #end
    </select>
</div>
<div id="componentsSelection">
</div>
</body>
</html>