<html>
    <head>
        <title>Compoonentes de la familia ${familyName} seleccionados</title>
    </head>
    <body>
        <p>Lista de los componentes de la familia $!{familyName} seleccionados</p>
        <form action="#springUrl('/addComponents.htm')" method="post">
            #foreach ( $component in $components )
                <input type="checkbox" name="$component.code" value="$component.code" >${component.description}</input><br/>
            #end
            <input type="submit" value="A&ntilde;adir"/>
        </form>
    </body>
</html>