<html>
    <body>
        <p>Lista de los componentes de la familia $!{familyName} seleccionados</p>

        <form id="addComponentes" action="#springUrl('/addComponents.htm')" method="post">
            #foreach ( $component in $components )
                <fieldset>
                    <legend>${component.description}</legend>                    
                    <label>Cantidad: <input type="text" name="quantity"/></label>
                    <label>Descuento: <input type="text" name="discount"/></label>
                    <label>Precio: <input type="text" name="price"/></label>
                </fieldset>
            #end
            <input type="submit" value="A&ntilde;adir"/>
        </form>
    </body>
</html>