<html>
    <body>
        <p>Lista de los componentes de la familia ${familyName} seleccionados</p>

        <form id="addComponentes" action="#springUrl('/addComponents.htm')" method="post">
            <input type="hidden" id="familyName" name="familyName" value="${familyName}"/>
            #foreach ( $component in $components )
                <fieldset>
                    <legend>${component.description}</legend>
                    <label>Cantidad: <input type="text" id="quantity" name="quantity"/></label>
                    <label>Descuento: <input type="text" id="discount" name="discount"/></label>
                    <label>Precio: <input type="text" id="price" name="price"/></label>
                </fieldset>
            #end
            <input type="submit" value="A&ntilde;adir"/>
        </form>
    </body>
</html>